@model IEnumerable<QallariyProyecto.Models.MetodoPago>

@{
    ViewData["Title"] = "metodosPago";
}

<h1>metodosPago</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idMetPag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMetPag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.Asy("Delete", "eliminarMetodo", "MetodoPago", new { id=item.idMetPag })
            </td>
        </tr>
}
    </tbody>
</table>
